dist/index.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Tonumiz</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
			integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
			integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" />
		<link href="/styles/main.css" rel="stylesheet" />
	</head>
</html>
<body>
	<header class="header">
		<div class="container-fluid">
			<div class="header__row">
				<div class="header__logo">
					<a href="/"><img src="/assets/images/logo.svg" alt="logo" /></a>
				</div>
				<div class="header__wrap">
					<ul class="header__links d-none d-xl-flex">
						<li class="header__link-item"><a class="header__link" href="/#coins">Монеты TONumiz</a></li>
						<li class="header__link-item"><a class="header__link" href="/">Художникам</a></li>
						<li class="header__link-item"><a class="header__link" href="/#about">Кураторам</a></li>
						<li class="header__link-item"><a class="header__link" href="/#advantage">Гайдлайны</a></li>
						<li class="header__link-item"><a class="header__link" href="/#designers">Коммьюнити</a></li>
						<li class="header__link-item"><a class="header__link" href="/">Governance</a></li>
					</ul>
					<div class="header__theme-switch d-flex d-xl-none">
						<div class="header__theme header__theme_mobile header__theme_dark active">
							<img class="svg" src="/assets/images/dark_icon.svg" alt="dark" />
							<span>Dark</span>
						</div>
						<div class="header__theme header__theme_mobile header__theme_light active">
							<img class="svg" src="/assets/images/light_icon.svg" alt="light" />
							<span>Light</span>
						</div>
					</div>
					<div class="header__theme-switch d-none d-xl-flex">
						<div class="header__theme header__theme_light" data-toggle-theme="light">
							<img class="svg" src="/assets/images/light_icon.svg" alt="light" />
							<span>Light</span>
						</div>
						<div class="header__theme header__theme_dark" data-toggle-theme="dark">
							<img class="svg" src="/assets/images/dark_icon.svg" alt="dark" />
							<span>Dark</span>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"><span>RU</span></button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item active" href="/index.html">RU</a></li>
							<li><a class="dropdown-item" href="/en.html">EN</a></li>
						</ul>
					</div>
					<div class="header__menu d-flex d-xl-none">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main id="main-page">
		<section class="main-section">
			<div class="container-fluid h-100">
				<div class="row h-100">
					<div class="col-12 col-lg-6">
						<div class="main-section__info">
							<h1 class="section-title">Покупка монет TONumiz в несколько кликов</h1>
							<p class="section-desc">
								Other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralizedby the charms of pleasure
								of the moment, so blinded by desire, that they cannot foresee the pain and trouble that \ are bound to ensue.
							</p>
							<button class="custom-button" type="button" data-bs-toggle="modal" data-bs-target="#buyModal"><span>Купить монеты</span></button>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="main-section__image-wrap"><img src="/assets/images/main_shape_dark.jpg" alt="main shape" /></div>
					</div>
				</div>
			</div>
		</section>
		<section class="coin-sale-section" id="coins">
			<div class="container pe-0">
				<div class="coin-sale-section__title-wrap">
					<h2 class="section-title">Монеты в продаже</h2>
					<a class="coin-sale-section__more-link d-none d-lg-flex" href="/">
						<span>Показать все</span>
						<img src="/assets/images/more_link_arrow.svg" alt="more arrow" />
					</a>
				</div>
				<div class="coin-slider-wrap">
					<div class="slider-arrow slider-arrow_prev"><img src="/assets/images/slider_arrow.svg" alt="prev" /></div>
					<div class="coin-slider slider">
						<div class="coin-slider__slide">
							<div class="coin-card">
								<div class="coin-card__image"><img src="/assets/images/coin_example.png" alt="coin" /></div>
								<div class="coin-card__info">
									<div class="coin-card__row">
										<p class="coin-card__text">Hotman</p>
										<p class="coin-card__text">762 монет</p>
									</div>
									<div class="coin-card__row">
										<p class="coin-card__text coin-card__text_bold">Bitmark</p>
										<p class="coin-card__text coin-card__text_bold">
											3.22
											<img src="/assets/images/diamond.svg" alt="diamond" />
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="coin-slider__slide">
							<div class="coin-card">
								<div class="coin-card__image"><img src="/assets/images/coin_example.png" alt="coin" /></div>
								<div class="coin-card__info">
									<div class="coin-card__row">
										<p class="coin-card__text">Hotman</p>
										<p class="coin-card__text">762 монет</p>
									</div>
									<div class="coin-card__row">
										<p class="coin-card__text coin-card__text_bold">Bitmark</p>
										<p class="coin-card__text coin-card__text_bold">
											3.22
											<img src="/assets/images/diamond.svg" alt="diamond" />
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="coin-slider__slide">
							<div class="coin-card">
								<div class="coin-card__image"><img src="/assets/images/coin_example.png" alt="coin" /></div>
								<div class="coin-card__info">
									<div class="coin-card__row">
										<p class="coin-card__text">Hotman</p>
										<p class="coin-card__text">762 монет</p>
									</div>
									<div class="coin-card__row">
										<p class="coin-card__text coin-card__text_bold">Bitmark</p>
										<p class="coin-card__text coin-card__text_bold">
											3.22
											<img src="/assets/images/diamond.svg" alt="diamond" />
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="coin-slider__slide">
							<div class="coin-card">
								<div class="coin-card__image"><img src="/assets/images/coin_example.png" alt="coin" /></div>
								<div class="coin-card__info">
									<div class="coin-card__row">
										<p class="coin-card__text">Hotman</p>
										<p class="coin-card__text">762 монет</p>
									</div>
									<div class="coin-card__row">
										<p class="coin-card__text coin-card__text_bold">Bitmark</p>
										<p class="coin-card__text coin-card__text_bold">
											3.22
											<img src="/assets/images/diamond.svg" alt="diamond" />
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="coin-slider__slide">
							<div class="coin-card">
								<div class="coin-card__image"><img src="/assets/images/coin_example.png" alt="coin" /></div>
								<div class="coin-card__info">
									<div class="coin-card__row">
										<p class="coin-card__text">Hotman</p>
										<p class="coin-card__text">762 монет</p>
									</div>
									<div class="coin-card__row">
										<p class="coin-card__text coin-card__text_bold">Bitmark</p>
										<p class="coin-card__text coin-card__text_bold">
											3.22
											<img src="/assets/images/diamond.svg" alt="diamond" />
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slider-arrow slider-arrow_next"><img src="/assets/images/slider_arrow.svg" alt="prev" /></div>
				</div>
				<a class="coin-sale-section__more-link d-flex d-lg-none" href="/">
					<span>Показать все</span>
					<img src="/assets/images/more_link_arrow.svg" alt="more arrow" />
				</a>
			</div>
		</section>
		<section class="about-section" id="about">
			<div class="container">
				<div class="about-section__title-row">
					<h2 class="section-title">Об NFT токенах выпущенных на Cryptonumiz</h2>
					<div class="about-section__title-image">
						<img class="d-block d-md-none" src="/assets/images/about_shape_mobile.svg" alt="about" />
						<img class="d-none d-md-block" src="/assets/images/about_shape.svg" alt="about" />
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="about-card">
							<h4 class="about-card__title">
								<span>Other hand</span>
								, we denounce with righteous indignation and dislike
							</h4>
							<p class="about-card__description">
								Other hand, we denounce with righteous indignation and dislike men who are so beguiled anddemoralized by the charms of pleasure
								of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.
							</p>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="about-card">
							<h4 class="about-card__title">
								<span>Other hand</span>
								, we denounce with righteous indignation and dislike
							</h4>
							<p class="about-card__description">
								Other hand, we denounce with righteous indignation and dislike men who are so beguiled anddemoralized by the charms of pleasure
								of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.
							</p>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="about-card">
							<h4 class="about-card__title">
								<span>Other hand</span>
								, we denounce with righteous indignation and dislike
							</h4>
							<p class="about-card__description">
								Other hand, we denounce with righteous indignation and dislike men who are so beguiled anddemoralized by the charms of pleasure
								of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.
							</p>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="about-card">
							<h4 class="about-card__title">
								<span>Other hand</span>
								, we denounce with righteous indignation and dislike
							</h4>
							<p class="about-card__description">
								Other hand, we denounce with righteous indignation and dislike men who are so beguiled anddemoralized by the charms of pleasure
								of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="buy-section" id="buy">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6">
						<h2 class="section-title">NFT токены выпущенные на Cryptonumiz</h2>
						<div class="buy-section__info-row">
							<div class="buy-section__info-title">
								<h3 class="section-title">1.55$</h3>
								<h4 class="section-sub-title">+2%</h4>
							</div>
							<div class="month-select-wrap">
								<span>Показать:</span>
								<div class="select-wrap month-select">
									<select class="form-select">
										<option selected="selected">Месяц</option>
										<option value="1">Январь</option>
										<option value="2">Февраль</option>
										<option value="3">Март</option>
									</select>
								</div>
							</div>
						</div>
						<div class="buy-section__graph-image"><canvas id="test-chart"></canvas></div>
					</div>
					<div class="col-12 col-md-6">
						<div class="buy-card">
							<h4 class="buy-card__title">Покупка</h4>
							<div class="select-wrap coin-select no-arrow">
								<select class="coin-select selectpicker" title="Выберите валюту">
									<option
										value="1"
										data-content='&lt;img src="/assets/images/select_coin.svg" alt="coin"/&gt;&lt;span&gt;Dogecoin 1&lt;/span&gt;'
									></option>
									<option
										value="2"
										data-content='&lt;img src="/assets/images/select_coin.svg" alt="coin"/&gt;&lt;span&gt;Dogecoin 2&lt;/span&gt;'
									></option>
									<option
										value="3"
										data-content='&lt;img src="/assets/images/select_coin.svg" alt="coin"/&gt;&lt;span&gt;Dogecoin 3&lt;/span&gt;'
									></option>
								</select>
							</div>
							<div class="input-wrap coin-input">
								<input class="form-control" type="email" name="coins" placeholder="Осталось 720 монет" />
								<p class="coin-count">
									0
									<img src="/assets/images/diamond.svg" alt="diamond" />
								</p>
							</div>
							<button class="custom-button full-width" data-bs-toggle="modal" data-bs-target="#buyModal"><span>Продолжить покупку</span></button>
							<p class="buy-card__text">На следующем шаге нужно будет отсканировать qr-код через TON surf browser на телефоне</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="advantage-section" id="advantage">
			<div class="container">
				<h2 class="section-title">В чём преимущества платформы?</h2>
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="advantage-card">
							<div class="advantage-card__icon"><img src="/assets/images/advantage_icon.svg" alt="advantage" /></div>
							<h4 class="advantage-card__title">Название преимущества</h4>
							<p class="advantage-card__description">
								Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very volatile.In a single session, their value can
								fluctuate
							</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="advantage-card">
							<div class="advantage-card__icon"><img src="/assets/images/advantage_icon.svg" alt="advantage" /></div>
							<h4 class="advantage-card__title">Название преимущества</h4>
							<p class="advantage-card__description">
								Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very volatile.In a single session, their value can
								fluctuate
							</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="advantage-card">
							<div class="advantage-card__icon"><img src="/assets/images/advantage_icon.svg" alt="advantage" /></div>
							<h4 class="advantage-card__title">Название преимущества</h4>
							<p class="advantage-card__description">
								Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very volatile.In a single session, their value can
								fluctuate
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="designers-section" id="designers">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="designers-section__info">
							<h2 class="section-title">О наших художниках</h2>
							<p class="designers-section__description">
								Other hand, we denounce with righteous indignation and dislike men who are sobeguiled and demoralized by the charms of pleasure
								of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.
							</p>
							<button class="custom-button" type="button"><span>Подробнее</span></button>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="designers-section__image"><img src="/assets/images/designer.svg" alt="designer" /></div>
					</div>
				</div>
			</div>
		</section>
		<section class="news-section" id="news">
			<div class="container">
				<div class="news-section__title-row">
					<h2 class="section-title">Последние новости</h2>
					<a class="news-section__more-link d-none d-lg-flex">
						<span>Показать все</span>
						<img src="/assets/images/more_link_arrow.svg" alt="more arrow" />
					</a>
				</div>
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="news-card">
							<a href="/"></a>
							<div class="news-card__image"><img src="/assets/images/news.png" alt="news" /></div>
							<div class="news-card__info">
								<div class="news-card__chip-wrap">
									<div class="news-card__chip"><span>новинки</span></div>
								</div>
								<h4 class="news-card__title">Выпущена новая монетка</h4>
								<p class="news-card__description">
									Cryptocurrencies are flexible, low-cost, and transparent. But they’re also veryvolatile. In a single session, their value
									can fluctuate
								</p>
								<p class="news-card__date">14 авг, 2020</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="news-card">
							<a href="/"></a>
							<div class="news-card__image"><img src="/assets/images/news.png" alt="news" /></div>
							<div class="news-card__info">
								<div class="news-card__chip"><span>новинки</span></div>
								<h4 class="news-card__title">Выпущена новая монетка</h4>
								<p class="news-card__description">
									Cryptocurrencies are flexible, low-cost, and transparent. But they’re also veryvolatile. In a single session, their value
									can fluctuate
								</p>
								<p class="news-card__date">14 авг, 2020</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="news-card">
							<a href="/"></a>
							<div class="news-card__image"><img src="/assets/images/news.png" alt="news" /></div>
							<div class="news-card__info">
								<div class="news-card__chip"><span>новинки</span></div>
								<h4 class="news-card__title">Выпущена новая монетка</h4>
								<p class="news-card__description">
									Cryptocurrencies are flexible, low-cost, and transparent. But they’re also veryvolatile. In a single session, their value
									can fluctuate
								</p>
								<p class="news-card__date">14 авг, 2020</p>
							</div>
						</div>
					</div>
				</div>
				<a class="news-section__more-link d-flex d-lg-none">
					<span>Показать все</span>
					<img src="/assets/images/more_link_arrow.svg" alt="more arrow" />
				</a>
			</div>
		</section>
		<section class="feedback-section d-none d-md-block">
			<div class="container">
				<div class="feedback-section__wrap">
					<div class="row align-items-center">
						<div class="col-md-8">
							<div class="feedback-section__info">
								<h2 class="section-title">Подпишитесь на рассылку</h2>
								<p class="section-desc">И получайте последние новости проекта Cryptonumiz</p>
							</div>
						</div>
						<div class="col-md-4">
							<form class="feedback-form">
								<input class="form-control" type="email" name="email" placeholder="Почта" required />
								<button class="submit-button" type="submit"><img src="/assets/images/send_icon.svg" alt="send" /></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="footer__row">
				<div class="footer__logo">
					<a href="/"><img src="/assets/images/logo.svg" alt="logo" /></a>
				</div>
				<ul class="footer__links">
					<li class="footer__link-item"><a class="footer__link" href="/#coins">Монеты TONumuz</a></li>
					<li class="footer__link-item"><a class="footer__link" href="/">Художникам</a></li>
					<li class="footer__link-item"><a class="footer__link" href="/#about">Кураторам</a></li>
					<li class="footer__link-item"><a class="footer__link" href="/#advantage">Гайдлайны</a></li>
					<li class="footer__link-item"><a class="footer__link" href="/#designers">Коммьюнити</a></li>
					<li class="footer__link-item"><a class="footer__link" href="/">Governance</a></li>
				</ul>
				<div class="footer__bottom-info">
					<a class="footer__copyright" href="/">© 2020 sitename.com</a>
					<div class="footer__socials-wrap">
						<a class="footer__social-link" href="/"><img src="/assets/images/facebook.svg" alt="facebook" /></a>
						<a class="footer__social-link" href="/"><img src="/assets/images/twitter.svg" alt="twitter" /></a>
						<a class="footer__social-link" href="/"><img src="/assets/images/reddit.svg" alt="reddit" /></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="global-menu">
		<ul class="global-menu__links">
			<li class="global-menu__link-item">
				<a class="global-menu__link" href="/#coins">
					<span>Монеты TONumuz</span>
					<img src="/assets/images/menu_link_arrow.svg" alt="link" />
				</a>
			</li>
			<li class="global-menu__link-item">
				<a class="global-menu__link" href="/">
					<span>Художникам</span>
					<img src="/assets/images/menu_link_arrow.svg" alt="link" />
				</a>
			</li>
			<li class="global-menu__link-item">
				<a class="global-menu__link" href="/">
					<span>Кураторам</span>
					<img src="/assets/images/menu_link_arrow.svg" alt="link" />
				</a>
			</li>
			<li class="global-menu__link-item">
				<a class="global-menu__link" href="/#about">
					<span>Гайдлайны</span>
					<img src="/assets/images/menu_link_arrow.svg" alt="link" />
				</a>
			</li>
			<li class="global-menu__link-item">
				<a class="global-menu__link" href="/#advantage">
					<span>Коммьюнити</span>
					<img src="/assets/images/menu_link_arrow.svg" alt="link" />
				</a>
			</li>
			<li class="global-menu__link-item">
				<a class="global-menu__link" href="/#designers">
					<span>Governance</span>
					<img src="/assets/images/menu_link_arrow.svg" alt="link" />
				</a>
			</li>
		</ul>
		<div class="global-menu__socials-wrap">
			<a class="global-menu__social-link" href="/" rel="nofollow" target="_blank"><img src="/assets/images/facebook.svg" alt="facebook" /></a>
			<a class="global-menu__social-link" href="/" rel="nofollow" target="_blank"><img src="/assets/images/twitter.svg" alt="facebook" /></a>
			<a class="global-menu__social-link" href="/" rel="nofollow" target="_blank"><img src="/assets/images/reddit.svg" alt="facebook" /></a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"
	></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
		integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.min.js"
		crossorigin="anonymous"
		integrity="sha512-DVfS/GbZzLMmxBL/CW92N84eHP2Fq9d+r9RKbvctcvzISVfu+WvD+MCvbK9j8I6nVLrntGo3UUVrNFUDX0ukBw=="
	></script>
	<div class="modal fade" id="buyModal" data-bs-backdrop="buy" data-bs-keyboard="false" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<button class="modal-close" type="button" data-bs-dismiss="modal"><img src="/assets/images/close.svg" alt="close" /></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12 col-lg-7">
							<div class="modal-body__info">
								<h5 class="modal-title">Покупка</h5>
								<p class="modal-description d-block d-lg-none">Мы переведём вас в мобильное приложение</p>
								<p class="modal-description d-none d-lg-block">
									— Жизнь в большом городе зачастую накладывает на людей очень много обязательств, которые многим мешают планировать свое
									время. — Поэтому времени катастрофически не хватает на все, в том числе и на нормальную здоровую пищу. Полезные продукты
									необходимо включать в рацион каждый день: они богаты аминокислотами, витаминами, микро- и макроэлементами, жирными
									кислотами, клетчаткой.
								</p>
								<a class="custom-button d-flex d-lg-none" href="/" target="_blank"><span>Перейти в приложение</span></a>
							</div>
						</div>
						<div class="col-lg-5 d-none d-lg-block"><img class="modal-image" src="/assets/images/qr_example.png" alt="qr code" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script defer="defer" src="/js/main.bundle.js"></script>
</body>

src/pages/index.pug
extends includes/layout

block vars
  -
    var title = "Tonumiz"

append content
  main#main-page
    section.main-section
      .container-fluid.h-100
        .row.h-100
          .col-12.col-lg-6
            .main-section__info
              h1.section-title Покупка монет TONumiz в несколько кликов
              p.section-desc Other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                | by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that \
                | are bound to ensue.
              button.custom-button(type="button" data-bs-toggle="modal" data-bs-target="#buyModal")
                span Купить монеты
          .col-12.col-lg-6
            .main-section__image-wrap
              img(src="/assets/images/main_shape_dark.jpg" alt="main shape")
    section#coins.coin-sale-section
      .container.pe-0
        .coin-sale-section__title-wrap
          h2.section-title Монеты в продаже
          a.coin-sale-section__more-link.d-none.d-lg-flex(href="/")
            span Показать все
            img(src="/assets/images/more_link_arrow.svg" alt="more arrow")
        .coin-slider-wrap
          .slider-arrow.slider-arrow_prev
            img(src="/assets/images/slider_arrow.svg" alt="prev")
          .coin-slider.slider
            .coin-slider__slide
              .coin-card
                .coin-card__image
                  img(src="/assets/images/coin_example.png" alt="coin")
                .coin-card__info
                  .coin-card__row
                    p.coin-card__text Hotman
                    p.coin-card__text 762 монет
                  .coin-card__row
                    p.coin-card__text.coin-card__text_bold Bitmark
                    p.coin-card__text.coin-card__text_bold
                      | 3.22
                      img(src="/assets/images/diamond.svg" alt="diamond")
            .coin-slider__slide
              .coin-card
                .coin-card__image
                  img(src="/assets/images/coin_example.png" alt="coin")
                .coin-card__info
                  .coin-card__row
                    p.coin-card__text Hotman
                    p.coin-card__text 762 монет
                  .coin-card__row
                    p.coin-card__text.coin-card__text_bold Bitmark
                    p.coin-card__text.coin-card__text_bold
                      | 3.22
                      img(src="/assets/images/diamond.svg" alt="diamond")
            .coin-slider__slide
              .coin-card
                .coin-card__image
                  img(src="/assets/images/coin_example.png" alt="coin")
                .coin-card__info
                  .coin-card__row
                    p.coin-card__text Hotman
                    p.coin-card__text 762 монет
                  .coin-card__row
                    p.coin-card__text.coin-card__text_bold Bitmark
                    p.coin-card__text.coin-card__text_bold
                      | 3.22
                      img(src="/assets/images/diamond.svg" alt="diamond")
            .coin-slider__slide
              .coin-card
                .coin-card__image
                  img(src="/assets/images/coin_example.png" alt="coin")
                .coin-card__info
                  .coin-card__row
                    p.coin-card__text Hotman
                    p.coin-card__text 762 монет
                  .coin-card__row
                    p.coin-card__text.coin-card__text_bold Bitmark
                    p.coin-card__text.coin-card__text_bold
                      | 3.22
                      img(src="/assets/images/diamond.svg" alt="diamond")
            .coin-slider__slide
              .coin-card
                .coin-card__image
                  img(src="/assets/images/coin_example.png" alt="coin")
                .coin-card__info
                  .coin-card__row
                    p.coin-card__text Hotman
                    p.coin-card__text 762 монет
                  .coin-card__row
                    p.coin-card__text.coin-card__text_bold Bitmark
                    p.coin-card__text.coin-card__text_bold
                      | 3.22
                      img(src="/assets/images/diamond.svg" alt="diamond")
          .slider-arrow.slider-arrow_next
            img(src="/assets/images/slider_arrow.svg" alt="prev")
        a.coin-sale-section__more-link.d-flex.d-lg-none(href="/")
          span Показать все
          img(src="/assets/images/more_link_arrow.svg" alt="more arrow")
    section#about.about-section
      .container
        .about-section__title-row
          h2.section-title Об NFT токенах выпущенных на Cryptonumiz
          .about-section__title-image
            img.d-block.d-md-none(src="/assets/images/about_shape_mobile.svg" alt="about")
            img.d-none.d-md-block(src="/assets/images/about_shape.svg" alt="about")
        .row
          .col-12.col-md-6
            .about-card
              h4.about-card__title!='<span>Other hand</span>, we denounce with righteous indignation and dislike'
              p.about-card__description Other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                | demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                | trouble that are bound to ensue.
          .col-12.col-md-6
            .about-card
              h4.about-card__title!='<span>Other hand</span>, we denounce with righteous indignation and dislike'
              p.about-card__description Other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                | demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                | trouble that are bound to ensue.
          .col-12.col-md-6
            .about-card
              h4.about-card__title!='<span>Other hand</span>, we denounce with righteous indignation and dislike'
              p.about-card__description Other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                | demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                | trouble that are bound to ensue.
          .col-12.col-md-6
            .about-card
              h4.about-card__title!='<span>Other hand</span>, we denounce with righteous indignation and dislike'
              p.about-card__description Other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                | demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                | trouble that are bound to ensue.
    section#buy.buy-section
      .container
        .row
          .col-12.col-md-6
            h2.section-title NFT токены выпущенные на Cryptonumiz
            .buy-section__info-row
              .buy-section__info-title
                h3.section-title 1.55$
                h4.section-sub-title +2%
              .month-select-wrap
                span Показать:
                .select-wrap.month-select
                  select.form-select
                    option(selected) Месяц
                    option(value="1") Январь
                    option(value="2") Февраль
                    option(value="3") Март
            .buy-section__graph-image
              canvas(id="test-chart")
          .col-12.col-md-6
            .buy-card
              h4.buy-card__title Покупка
              .select-wrap.coin-select.no-arrow
                select.coin-select.selectpicker(title="Выберите валюту")
                  option(value="1" data-content=`<img src="/assets/images/select_coin.svg" alt="coin"/><span>Dogecoin 1</span>`)
                  option(value="2" data-content=`<img src="/assets/images/select_coin.svg" alt="coin"/><span>Dogecoin 2</span>`)
                  option(value="3" data-content=`<img src="/assets/images/select_coin.svg" alt="coin"/><span>Dogecoin 3</span>`)
              .input-wrap.coin-input
                input.form-control(type="email" name="coins"  placeholder="Осталось 720 монет")
                p.coin-count
                  | 0
                  img(src="/assets/images/diamond.svg" alt="diamond")
              button.custom-button.full-width(data-bs-toggle="modal" data-bs-target="#buyModal")
                span Продолжить покупку
              p.buy-card__text На следующем шаге нужно будет отсканировать qr-код через TON surf browser на телефоне
    section#advantage.advantage-section
      .container
        h2.section-title В чём преимущества платформы?
        .row
          .col-12.col-md-4
            .advantage-card
              .advantage-card__icon
                img(src="/assets/images/advantage_icon.svg" alt="advantage")
              h4.advantage-card__title Название преимущества
              p.advantage-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very volatile.
                | In a single session, their value can fluctuate
          .col-12.col-md-4
            .advantage-card
              .advantage-card__icon
                img(src="/assets/images/advantage_icon.svg" alt="advantage")
              h4.advantage-card__title Название преимущества
              p.advantage-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very volatile.
                | In a single session, their value can fluctuate
          .col-12.col-md-4
            .advantage-card
              .advantage-card__icon
                img(src="/assets/images/advantage_icon.svg" alt="advantage")
              h4.advantage-card__title Название преимущества
              p.advantage-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very volatile.
                | In a single session, their value can fluctuate
    section#designers.designers-section
      .container
        .row
          .col-12.col-md-6
            .designers-section__info
              h2.section-title О наших художниках
              p.designers-section__description Other hand, we denounce with righteous indignation and dislike men who are so
                | beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                | the pain and trouble that are bound to ensue.
              button.custom-button(type="button")
                span Подробнее
          .col-12.col-md-6
            .designers-section__image
              img(src="/assets/images/designer.svg" alt="designer")
    section#news.news-section
      .container
        .news-section__title-row
          h2.section-title Последние новости
          a.news-section__more-link.d-none.d-lg-flex
            span Показать все
            img(src="/assets/images/more_link_arrow.svg" alt="more arrow")
        .row
          .col-12.col-md-4
            .news-card
              a(href="/")
              .news-card__image
                img(src="/assets/images/news.png" alt="news")
              .news-card__info
                .news-card__chip-wrap
                  .news-card__chip
                    span новинки
                h4.news-card__title Выпущена новая монетка
                p.news-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very
                  | volatile. In a single session, their value can fluctuate
                p.news-card__date 14 авг, 2020
          .col-12.col-md-4
            .news-card
              a(href="/")
              .news-card__image
                img(src="/assets/images/news.png" alt="news")
              .news-card__info
                .news-card__chip
                  span новинки
                h4.news-card__title Выпущена новая монетка
                p.news-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very
                  | volatile. In a single session, their value can fluctuate
                p.news-card__date 14 авг, 2020
          .col-12.col-md-4
            .news-card
              a(href="/")
              .news-card__image
                img(src="/assets/images/news.png" alt="news")
              .news-card__info
                .news-card__chip
                  span новинки
                h4.news-card__title Выпущена новая монетка
                p.news-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very
                  | volatile. In a single session, their value can fluctuate
                p.news-card__date 14 авг, 2020
        a.news-section__more-link.d-flex.d-lg-none
          span Показать все
          img(src="/assets/images/more_link_arrow.svg" alt="more arrow")
    section.feedback-section.d-none.d-md-block
      .container
        .feedback-section__wrap
          .row.align-items-center
            .col-md-8
              .feedback-section__info
                h2.section-title Подпишитесь на рассылку
                p.section-desc И получайте последние новости проекта Cryptonumiz
            .col-md-4
              form.feedback-form
                input.form-control(type="email" name="email" placeholder="Почта" required)
                button.submit-button(type="submit")
                  img(src="/assets/images/send_icon.svg" alt="send")
